*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $light-gray-secondary;
  font-family: sans-serif; /* For old brousers support */
  font-family: $fonts;
  line-height: 1.6;
}
