$fonts: "Josefin Sans", sans-serif;

$light-gray-primary: #fcfafa;
$light-gray-secondary: #ededed;

$dark-gray-primary: #00000029;
$dark-gray-secondary: #707070;

$color-white-primary: #ffffff;
$color-black-primary: #333333;
$color-green-primary: #3fb64a;
$color-violet-primary: #862682;

$light-blue-primary: #00adee;
$light-blue-secondary: #039bd5;
$light-purple-primary: #55459d;
$dark-purple-primary: #362d62;
